<div class="container">
  <h1 class="title">
    File Viewer
  </h1>
  <div class="columns">
    <div class="column">
      <div class="menu" >
        <p class="menu-label">
          File List
        </p>
        <ul class="menu-list" >
          <li *ngFor="let parent of getLevelPaths(0)">
            <span (click)="toggle(parent)" class="level menu-label" [ngClass]="{ 'closed' : !parent.isOpen  }" ><i class="{{getFontClass(parent.fileType)}}"></i> <b>{{parent.name}}</b></span>
            <ng-container *ngTemplateOutlet="parentTemplate; context:{ $implicit: parent }"></ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div>
        <pre>{{ files | json }}</pre>
      </div>
    </div>
  </div>


</div>




<ng-template #parentTemplate let-parent >
  <ul class="menu-list" *ngIf="parent">
    <li *ngFor="let child of getChildren(parent.parent, parent.parentName)" >
      <span class="level menu-label" (click)="toggle(child)" [ngClass]="{ 'closed' : !child.isOpen  }"  *ngIf="child"><i class="{{getFontClass(child.fileType)}}"></i> <b>{{child.name}}</b></span>
      <ul class="menu-list" *ngIf="child">
        <ng-container *ngTemplateOutlet="childTemplate; context: { $implicit: child }"></ng-container>
      </ul>
    </li>
  </ul>
</ng-template>

<ng-template #childTemplate let-child >
  <li *ngFor="let grandChild of getChildren(child.level, child.name)">
    <span class="level menu-label" (click)="toggle(grandChild)" [ngClass]="{ 'closed' : !grandChild.isOpen  }" ><i class="{{getFontClass(grandChild.fileType)}}"></i> <b>{{grandChild.name}}</b></span>
    <ul class="menu-list" *ngIf="grandChild">
      <ng-container *ngTemplateOutlet="childTemplate; context: { $implicit: grandChild }"></ng-container>
    </ul>
  </li>
</ng-template>
